.text-plain {
  color: var(--white);
}

.plain {
    background: var(--light-background);
}
  
  .text-brown {
    color: var(--brown);
  }
  
  .brown {
    background:  linear-gradient(var(--brown), rgb(122, 33, 33)) ;
  }
  
  .text-cyan {
    color: var(--cyan);
  }
  
  .card-cryo,
  .cyan {
    background: linear-gradient(var(--cyan), darkcyan) ;
  }
  
  .text-pink {
    color: var(--pink);
  }
  
  .pink {
    background: linear-gradient(var(--pink), orchid);
  }
  
  .text-orange {
    color: var(--orange);
  }
  
  .orange {
    background: linear-gradient(var(--orange), darkorange);
  }
  
  .text-red {
    color: var(--red);
  }
  
  .card-hutao,
  .card-dehya,
  .card-pyro,
  .red {
    background: linear-gradient(var(--red), darkred);
  }
  
  .text-yellow {
    color: var(--yellow);
  }
  
  .card-geo,
  .yellow {
    background: linear-gradient(var(--yellow), gold);
    color: rgb(70, 70, 70);
  }
  
  .text-green {
    color: var(--green);
  }
  
  .card-nahida,
  .card-dendro,
  .green {
    background: linear-gradient(var(--green), darkgreen) ;
  }
  
  .text-navy {
    color: var(--light-navy);
  }
  
  .card-nilou,
  .card-hydro,
  .navy {
    background: linear-gradient(var(--light-navy), var(--navy));

  }
  
  .money {
    color: var(--money);
  }

  .card-kazuha,
  .card-anemo {
    background: linear-gradient(var(--turquoise), var(--inner-board));
  }
  
  .tax {
    color: var(--tax);
  }

  .player-stats .money:last-child,
  .player-stats .tax:last-child,
  .trade-btn-group .money,
  .trade-btn-group .tax,
  .game-log .tax {
    font-weight: bold;
    font-size: 24px;
    -webkit-text-stroke: 1px black;
  }
  
  .card-keqing,
  .card-electro {
    background: linear-gradient(violet, purple)
  }

.card-lumine,
.card-aether {
  background: linear-gradient(beige, rgb(248, 248, 130));
  color: rgb(70, 70, 70);
}

.card-paimon {
  background: linear-gradient(rgb(18, 18, 18), navy);
}