.text-plain {
  color: var(--white);
}

.plain {
    background: var(--light-background);
}
  
  .text-brown {
    color: var(--brown);
  }
  
  .brown {
    background:  linear-gradient(var(--brown), rgb(122, 33, 33)) ;
  }
  
  .text-cyan {
    color: var(--cyan);
  }
  
  .cyan {
    background: linear-gradient(var(--cyan), darkcyan) ;
  }
  
  .text-pink {
    color: var(--pink);
  }
  
  .pink {
    background: linear-gradient(var(--pink), orchid);
  }
  
  .text-orange {
    color: var(--orange);
  }
  
  .orange {
    background: linear-gradient(var(--orange), darkorange);
  }
  
  .text-red {
    color: var(--red);
  }
  
  .red {
    background: linear-gradient(var(--red), darkred);
  }
  
  .text-yellow {
    color: var(--yellow);
  }
  
  .yellow {
    background: linear-gradient(var(--yellow), gold);
    color: rgb(70, 70, 70);
  }
  
  .text-green {
    color: var(--green);
  }
  
  .green {
    background: linear-gradient(var(--green), darkgreen) ;
  }
  
  .text-navy {
    color: var(--light-navy);
  }
  
  .navy {
    background: linear-gradient(var(--light-navy), var(--navy));

  }
  
  .money {
    color: var(--money);
  }
  
  .tax {
    color: var(--tax);
  }
  