:root {
  --dark-background: linear-gradient(#000000, #444444);
  --light-background: linear-gradient(#888888, #444444);
  --inner-board: darkcyan;
  --positive-btn: linear-gradient(springgreen ,limegreen);
  --negative-btn: linear-gradient(crimson, darkred);
  --light-shadow: 0px 1px 5px 1px black;
  --heavy-shadow: 0px 0px 5px 5px black;

  --white: white;
  --brown: brown;
  --cyan: cyan;
  --turquoise: turquoise;
  --pink: pink;
  --orange: orange;
  --red: crimson;
  --yellow: yellow;
  --green: green;
  --navy: navy;
  --light-navy: rgb(82, 82, 238);
  
  --money: springgreen;
  --tax: crimson;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: arial;
}

.title-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--dark-background);
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
  background: var(--light-background);
  box-shadow: var(--heavy-shadow);
  border-radius: 5px;
}

.title-menu a {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
}

.title-menu input {
  appearance: none;
  background-color: var(--light-background);
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 24px;
  max-width: 200px;
  border-radius: 5px;
  text-align: center;
}

.game-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--dark-background);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(11, 75px);
  grid-template-rows: repeat(11, 75px);
  gap: 0.1rem;
  padding: 0.1rem;
  margin-top: 1rem;
  /*background-color: var(--inner-board);*/
  transition: all 0.4s ease-out;
  box-shadow: var(--heavy-shadow);
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #000000bb;
}

.inspect {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.chance-card,
.company-card,
.station-card,
.special-card,
.property-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--dark-background);
  border-radius: 5px;
  list-style: none;
  box-shadow: var(--light-shadow);
  color: white;
}

.chance-card:not(.flipped) {
  background: var(--light-background);
}

.inspect .chance-card,
.inspect .company-card,
.inspect .station-card,
.inspect .special-card,
.inspect .property-card {
  width: 35%;
  height: 45%;
}


.settings .special-card,
.winner .player-stats,
.prompt .chance-card,
.buy-popup .company-card,
.buy-popup .station-card,
.buy-popup .property-card {
  width: 240px;
  height: 309px;
}

.station-card li:not(.card-name):not(.card-owner),
.special-card li:not(.card-name),
.property-card li:not(.card-name):not(.card-owner) {
  margin: 0 1rem;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.company-card li:not(.card-name):not(.card-owner) {
  margin: 0 1rem;
}

.special-card li:not(.card-name) {
  justify-content: center;
}

.card-name,
.buy-popup .card-name,
.inspect .card-name {
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-size: 24px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  text-transform: capitalize;
}

.buy-popup .card-owner,
.inspect .card-owner {
  padding: 0.5rem 0rem;
  text-align: center;
  background: var(--light-background);
  color: white;
  border-radius: 0 0 5px 5px;
}

.jailed-players li:last-child {
  color: crimson;
}

.free-parking-prize,
.jail-description {
  padding-bottom: 0.5rem;
}

.free-parking-prize {
  justify-content: space-between !important;
  font-size: 30px;
}

.chance-card-description {
  padding: 1rem 0;
  margin: 0 2rem;
}

.stats {
  z-index: 1;
  grid-column: 3 / 10;
  grid-row: 3 / 11;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  background: linear-gradient(#444444ee 10%, #888888ab 70%);
  color: white;
  box-shadow: var(--light-shadow);
  border-radius: 5px;
}

.stats:not(.close) {
  animation: pullout 0.4s 1 linear;
}

.winner {
  display: flex;
  justify-content: center;
  width: 90%;
  color: white;
}

.player-stats {
  background: var(--dark-background);
  margin: 1rem 0;
  padding: 0rem 0rem;
  width: 80%;
  max-height: 274px;
  box-shadow: var(--light-shadow);
  border-radius: 5px;
}

.player-stats p:not(:first-child) {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  text-align: center;
}

.player-stats hr {
  margin-bottom: 0.5rem;
}

.player-stats .money {
  font-size: 24px;
}

.player-owned {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 160px;
  max-height: 160px;
}

.player-owned::-webkit-scrollbar {
  width: 1em;
  background: black;
  box-shadow: 0px 0px 1px 1px black;
  border-radius: 5px;
}

.player-owned::-webkit-scrollbar-thumb {
  background: var(--light-background);
  border-radius: 5px;
}

.top { /*use when adding items under inspect*/
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 2;
}

.test2 {
  grid-column: 10/11;
  grid-row: 2/3;
  z-index: 2;
}

.bottom {
  grid-column: 2/3;
  grid-row: 3/4;
  z-index: 2;
}

.selected {
  grid-column: 3/4;
  grid-row: 3/4;
  z-index: 2;
  width: 50px;
  height: 50px;
  font-size: 40px !important;
  text-align: center;
}

.selected .house-group {
  margin: 0;
}

.inspect-btn {
  z-index: 2;
  background: url('./imgs/search.png');
  background-repeat: no-repeat;
  background-position: 50%;
  filter: hue-rotate(270deg);
  border: none;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
}

.place-mode-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--light-background);
  border: none;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
}

.sell-property-btn {
  font-size: 60px;
  background: var(--light-background);
  border: none;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-holder {
  display:flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 10/11;
  grid-row: 6/ 10;
  z-index: 3;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background: linear-gradient(white, rgb(193, 193, 193));
  border: 2px solid black;
  border-radius: 5px;
}

.pseudo-select,
a:hover,
button:hover,
.dice:hover {
  filter: brightness(80%);
  cursor: pointer;
}

a,
button {
  transition: filter 0.2s ease-out;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  padding: 0.2rem 0 0 0; 
  background: var(--dark-background);
  color: white;
  text-align: center;
  box-shadow: 0px 0px 1px 2px black;
}

.house-group {
  display: flex;
  gap: 0.2rem;
}

.house {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: springgreen;
}

li .house-group {
  display: inline-flex;
  margin-left: 1rem;
}

.hotel {
  width: 30px;
  height: 10px;
  background-color: crimson;
}

.square-name {
  width: 100%;
  height: 10px;
}

.player {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /*box-shadow: 1px -1px 5px 1px white;*/
  box-shadow: var(--light-shadow);
}

.player-1 { 
  transform: translateX(-30px);
}

.player-2 { 
  transform: translateY(-30px);
}

.player-3 {
  transform: translate(-30px, -30px);
}

.player-overlay {
  grid-row: 2/ 3;
  grid-column: 3/10;
  background: linear-gradient(#888888ab 10%, #444444ee 70%);
  color: white;
  box-shadow: var(--light-shadow);
  border-radius: 5px;
}

.player-overlay li:first-child {
  font-size: 24px;
  min-width: 95px;
}

.player-overlay div {
  justify-self: center;
}

.player-overlay ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25%;
  padding: 0.5rem;
  list-style-type: none;
}

.end-turn {
  grid-row: 9 / 11;
  grid-column: 10 / 11;
}

.use-card-btn {
  grid-row: 9 / 11;
  grid-column: 2 / 3;
}

.use-card-btn,
.logo-carousel button,
.title-menu .btn-group button,
.test2,
.end-turn {
  background: var(--orange);
  z-index: 3;
  border-radius: 5px;
  border: none;
  box-shadow: var(--light-shadow);
  font-size: 24px;
}

.prompt,
.buy-popup {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 4;
  width: 100vw;
  height: 100vh;
}

.prompt-menu,
.buy-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 10em;
  background: linear-gradient(#333333, #555555);
  box-shadow: 0px 0px 5px 5px black;
  border-radius: 5px;
}

.title-menu .btn-group button {
  color: var(--navy);
  width: 50%;
  margin: 0 0.5rem 1rem 0.5rem;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.disable-btn,
.buy-btn,
.dont-buy-btn {
  padding: 1rem;
  font-weight: bold;
  border: none;
  box-shadow: 0px 1px 5px 1px black;
  border-radius: 5px;
}

.disable-btn {
  color: white;
  background: var(--negative-btn);
  width: 50%;
  align-self: center;
}

a.dont-buy-btn,
a.buy-btn {
  text-decoration: none;
  color: black;
  width: 100%;
  text-align: center;
}

a.buy-btn {
  font-size: 40px;
}

a.dont-buy-btn {
  padding: 1.9rem 0;
}

.disable-btn.disable-on,
.buy-btn {
  background: var(--positive-btn);
}

.dont-buy-btn {
  background: var(--negative-btn);
}

.break-line {
  background-color: white;
  width: 100%;
  height: 5px;
}

.rolling {
  animation: roll 1.5s 1 linear;
  transition: transform  ease-out ;
}

.rolled {
  filter: brightness(60%);
}

@keyframes roll {
  from {
    transform: scale(1) rotateX(0deg) ;
  }

  50% {
    transform: scale(1.5) rotateX(360deg);
  }
  
  to {
    transform: scale(1) rotateX(0deg);
  }
}

.stats.close {
  animation: pushin 0.5s 1 linear;
}

@keyframes pullout {
  from {
    transform: translateY(-50%) scaleY(0);
  }
  to {
    transform: translateY(0) scaleY(1);
  }
}

@keyframes pushin {
  from {
    transform: translateY(0) scaleY(1);
  }
  to {
    transform: translateY(-50%) scaleY(0);
  }
}

.chance-card.flipping {
  animation: flip 1s 1 linear;
  transition: transform 5s ease-out;
}

.chance-card.flipping-part-2 {
  animation: flip-part-2 1s 1 linear;
}


@keyframes flip {
  from{
    opacity: 100%;
    transform: scale(1);
  }

  to {
    opacity: 0%;
    transform: scale(1.5)
  }
}

@keyframes flip-part-2 {
  from {
    opacity: 0%;
    transform: scale(1.5);
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}

.disable-btn:disabled {
  color: grey;
  filter: brightness(60%);
}

.disable-btn:disabled:hover {
  cursor: default;
}

button:disabled {
  background: var(--negative-btn) !important;
}

.player-stats p:first-child {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
} 

.player-overlay span.logo {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.logo {
  width: 25px;
  height: 25px;
  transition: all 0.4s ease;
}

.logo-dendro {
  background: url('./imgs/icon-2.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-anemo {
  background: url('./imgs/icon-a.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-geo {
  background: url('./imgs/icon-g.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-electro {
  background: url('./imgs/icon-e.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-cryo {
  background: url('./imgs/icon-c.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-hydro {
  background: url('./imgs/icon-h.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-pyro {
  background: url('./imgs/icon-p.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-carousel {
  display: flex;
  gap: 1rem;
  align-self: center;
  transform: scale(1.5);
}

.logo-carousel button {
  color: var(--navy);
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-front .chance-icon {
  margin-top: 3rem;
  height: 100px;
}

.chance-icon {
  background: url('./imgs/chance-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  align-self: center;
}

.wish-icon {
  background: url('./imgs/wish.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  align-self: center;
}

.common-chest {
  background: url('./imgs/common-chest.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
}

.exquisite-chest {
  background: url('./imgs/exquisite-chest.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
}

.luxurious-chest {
  background: url('./imgs/luxurious-chest.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
}

.mondo {
  background: url('./imgs/mondo.png');
  background-repeat: no-repeat;
  background-size: 125%;
  background-position-y: 50%;
  background-position-x: 130%;
}

.liyu {
  background: url('./imgs/li.png');
  background-repeat: no-repeat;
  background-size: 125%;
  background-position-y: 50%;
  background-position-x: 130%;
}

.sume {
  background: url('./imgs/sume.png');
  background-repeat: no-repeat;
  background-size: 125%;
  background-position-y: 60%;
  background-position-x: 30%;
}

.ina { 
  background: url('./imgs/ina.png');
  background-repeat: no-repeat;
  background-size: cover;
}