*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.game-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#000000, #444444);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  grid-template-rows: repeat(auto-fit, 50px);
  gap: 1rem;
  width: 500px;
}

.square {
  width: 50px;
  height: 50px;
  background: linear-gradient(red,blue);
}

a {
  padding: 5rem;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 5px 5px goldenrod;
}

/*DetailedHTMLProps<HTMLAttributes<HTMLDivElement>, HTMLDivElement>*/