*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.game-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#000000, #444444);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(auto-fit, 100px);
  gap: 1rem;
  margin-top: 1rem;
  width: 1024px;
  height: 800px;
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  width: 75px;
  height: 75px;
  background: linear-gradient(whitesmoke, yellow);
}

.square {
  background: linear-gradient(grey,blue);
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  color: wheat;
  box-shadow: 1px -1px 5px 1px white;
}

a {
  padding: 5rem;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 5px 5px goldenrod;
}
